@model IraqWebsite.ViewModels.Slider.CreateSliderVm

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/Admin/_LayoutAdmin.cshtml";
}

<link rel="stylesheet" href="~/dist/css/CustemStyle/ImagePerview.css">

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-12 d-flex justify-content-between">
                <h3>Add Slider</h3>
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="container-fluid">
<div class="row justify-content-center">
    <div class="col-md-12">
        <div class="card ">
    <div class="card-body">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="Title" class="control-label"></label>
                        <input asp-for="Title" class="form-control" />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="TitleAr" class="control-label">Title Arabic</label>
                        <input asp-for="TitleAr" class="form-control" />
                        <span asp-validation-for="TitleAr" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Sub Title</label>
                        <input asp-for="SubTitle" class="form-control" />
                        <span asp-validation-for="SubTitle" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Sub Title Arabic</label>
                        <input asp-for="SubTitleAr" class="form-control" />
                        <span asp-validation-for="SubTitleAr" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="ButtonLink" class="control-label">Button Link</label>
                        <input asp-for="ButtonLink" class="form-control" />
                        <span asp-validation-for="ButtonLink" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-check">
                <input asp-for="ShowBtn" class="form-check-input" checked type="checkbox" />
                <label asp-for="ShowBtn" class="form-check-label">Show Button
                </label>
                <span asp-validation-for="ShowBtn" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="image-preview image-preview-container">
                    <div class="preview">
                        <div id="preview-selected-images"></div>
                    </div>
                    <label asp-for="Img" for="file-upload">Upload Images</label>
                    <input asp-for="Img" class="form-control" type="file" id="file-upload" onchange="previewImages(`image-preview-container`);" />
                    <span asp-validation-for="Img" class="text-danger"></span>
                </div>
            </div>
            <br />
            <div class="row form-group" style="justify-content: center;">
                <input type="submit" value="Create" class="btn btn-success col-sm-3 mr-2" />
                <a class="btn btn-danger col-sm-3" asp-action="Index">Cancel</a>
            </div>
        </form>
    </div>
</div>

    </div>
</div>
</div>
</section>
<script src="~/dist/js/CustemScript/ImagePreview.js"></script>