@model IraqWebsite.ViewModels.ContactUs.CreateContactUsVm

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/Admin/_LayoutAdmin.cshtml";
}

<link rel="stylesheet" href="~/dist/css/CustemStyle/ImagePerview.css">
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-12 d-flex justify-content-between">
                <h3>Create New Contact Us</h3>
            </div>
        </div>
    </div>
</section>
<div class="card card-primary">
    <div class="card-body">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="Title" class="control-label"></label>
                        <input asp-for="Title" class="form-control" />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="TitleAr" class="control-label">Title Arabic</label>
                        <input asp-for="TitleAr" class="form-control" />
                        <span asp-validation-for="TitleAr" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="Slogan" class="control-label">Slogan</label>
                        <input asp-for="Slogan" class="form-control" />
                        <span asp-validation-for="Slogan" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="SloganAr" class="control-label">Slogan Arabic</label>
                        <input asp-for="SloganAr" class="form-control" />
                        <span asp-validation-for="SloganAr" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="Phone" class="control-label"></label>
                        <input asp-for="Phone" type="tel" class="form-control" />
                        <span asp-validation-for="Phone" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="Instgram" class="control-label"></label>
                        <input asp-for="Instgram" class="form-control" />
                        <span asp-validation-for="Instgram" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label asp-for="Facebook" class="control-label"></label>
                        <input asp-for="Facebook" class="form-control" />
                        <span asp-validation-for="Facebook" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label asp-for="Linkden" class="control-label"></label>
                        <input asp-for="Linkden" class="form-control" />
                        <span asp-validation-for="Linkden" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                
                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="Location" class="control-label"></label>
                        <input asp-for="Location" class="form-control" />
                        <span asp-validation-for="Location" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="LocationAr" class="control-label">Location Arabic</label>
                        <input asp-for="LocationAr" class="form-control" />
                        <span asp-validation-for="LocationAr" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="image-preview image-preview-container">
                    <div class="preview">
                        <div id="preview-selected-images"></div>
                    </div>
                    <label asp-for="Img" for="file-upload">Upload Images</label>
                    <input asp-for="Img" class="form-control" type="file" id="file-upload" onchange="previewImages(`image-preview-container`);" />
                    <span asp-validation-for="Img" class="text-danger"></span>
                </div>
            </div>
            <br />
            <div class="row form-group" style="justify-content: center;">
                <input type="submit" value="Create" class="btn btn-success col-sm-3 mr-2" />
            </div>
        </form>
    </div>
</div>

<script src="~/dist/js/CustemScript/ImagePreview.js"></script>
