@model IraqWebsite.Models.ContactUs

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/Admin/_LayoutAdmin.cshtml";
}

<link rel="stylesheet" href="~/dist/css/CustemStyle/ImagePerview.css">

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-12 d-flex justify-content-between">
                <h3>Contact Us Page</h3>
            </div>
        </div>
    </div>
</section>
<div class="card">
    <div class="card-body">
        <form asp-action="Edit" method="post" enctype="multipart/form-data">
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="Img" class="form-control" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label  class="control-label">Page Title</label>
                        <input asp-for="Title" class="form-control" />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label  class="control-label">Page Title Arabic </label>
                        <input asp-for="TitleAr" class="form-control" />
                        <span asp-validation-for="TitleAr" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label>Page Image</label>
            </div>
            <div class="row mb-3">
                
                <div class="image-preview image-preview-container">
                    <div class="preview">
                        <div id="preview-selected-images">
                            @if (Model.Img != null)
                            {
                                <img src="@Model.Img" class="preview-image">
                            }
                        </div>
                    </div>
                    <label asp-for="Img" for="file-upload">Upload Images</label>
                    <input name="file" class="form-control" type="file" id="file-upload" onchange="previewImages(`image-preview-container`);" />
                    <span asp-validation-for="Img" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Facebook" class="control-label"></label>
                <input asp-for="Facebook" class="form-control" />
                <span asp-validation-for="Facebook" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Instgram" class="control-label"></label>
                <input asp-for="Instgram" class="form-control" />
                <span asp-validation-for="Instgram" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Linkden" class="control-label"></label>
                <input asp-for="Linkden" class="form-control" />
                <span asp-validation-for="Linkden" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Location" class="control-label"></label>
                <input asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LocationAr" class="control-label">Location Arabic</label>
                <input asp-for="LocationAr" class="form-control" />
                <span asp-validation-for="LocationAr" class="text-danger"></span>
            </div>
            <br />
            <div class="row form-group" style="justify-content: center;">
                <input type="submit" value="Save" class="btn btn-success col-sm-3 mr-2" />
                <a class="btn btn-dark col-sm-3" onclick="JavaScript: window.history.back(1); return false;">Back</a>
            </div>
        </form>
    </div>
</div>

<script src="~/dist/js/CustemScript/ImagePreview.js"></script>