@model IraqWebsite.AuthManager.ViewModels.AppearanceViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/Admin/_LayoutAdmin.cshtml";
}

<link rel="stylesheet" href="~/dist/css/CustemStyle/ImagePerview.css">

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-12 d-flex justify-content-between">
                <h3>Apperance Us Page</h3>
            </div>
        </div>
    </div>
</section>
<div class="card">
    <div class="card-body">
        <form asp-controller="Settings" asp-action="Appearance" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ApplicationName"  class="control-label">Application Name</label>
                <input asp-for="ApplicationName" class="form-control" />
                <span asp-validation-for="ApplicationName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Appliocation Logo</label>
            </div>
            <div class="row mb-3">
                <div class="image-preview image-preview-container">
                    <div class="preview">
                        <div id="preview-selected-images">
                            @if (@ViewBag.Logo != null)
                            {
                                <img src="@ViewBag.Logo" class="preview-image">
                            }
                        </div>
                    </div>
                    <label asp-for="logo" for="file-upload">Upload Images</label>
                    <input asp-for="logo" class="form-control" type="file" id="file-upload" onchange="previewImages(`image-preview-container`);" />
                    <span asp-validation-for="logo" class="text-danger"></span>
                </div>
            </div>
           <div class="row mb-3">
                <div class="image-preview image-preview-container2">
                    <div class="preview">
                        <div id="preview-selected-images">
                            @if (@ViewBag.Icon != null)
                            {
                                <img src="@ViewBag.Icon" class="preview-image">
                            }
                        </div>
                    </div>
                    <label for="file-upload2">Upload Images</label>
                    <input asp-for="favIcon" class="form-control" type="file" id="file-upload2" onchange="previewImages(`image-preview-container2`);" />
                    <span asp-validation-for="favIcon" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="ColorWhite" class="control-label"></label>
                <input asp-for="ColorWhite" class="form-control" />
                <span asp-validation-for="ColorWhite" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ColorBlack" class="control-label"></label>
                <input asp-for="ColorBlack" class="form-control" />
                <span asp-validation-for="ColorBlack" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ColorMode" class="control-label"></label>
                <input asp-for="ColorMode" class="form-control" />
                <span asp-validation-for="ColorMode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MetaTitle" class="control-label"></label>
                <input asp-for="MetaTitle" class="form-control" />
                <span asp-validation-for="MetaTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MetaDescription" class="control-label"></label>
                <input asp-for="MetaDescription" class="form-control" />
                <span asp-validation-for="MetaDescription" class="text-danger"></span>
            </div>
            <br />
            <div class="row form-group" style="justify-content: center;">
                <input type="submit" value="Save" class="btn btn-success col-sm-3 mr-2" />
                <a class="btn btn-dark col-sm-3" onclick="JavaScript: window.history.back(1); return false;">Back</a>
            </div>
        </form>
    </div>
</div>

<script src="~/dist/js/CustemScript/ImagePreview.js"></script>
