@model IraqWebsite.AuthManager.Models.PasswordComplexityApp

@{
    ViewData["Title"] = "Password Complexity";
    Layout = "~/Views/Shared/Admin/_LayoutAdmin.cshtml";
}

<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">Create New About Us</h3>
    </div>
    <div class="card-body">
        <form asp-action="PasswordComplexity" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="RequiredLength" class="control-label"></label>
                        <input type="number" asp-for="RequiredLength" class="form-control" />
                        <span asp-validation-for="RequiredLength" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row" style="justify-content: center;">
                <label asp-for="RequireDigit">
                    Require Digit
                    <span><input asp-for="RequireDigit" class="form-control" type="checkbox" /></span>
                </label>
                <span asp-validation-for="RequireDigit" class="text-danger"></span>
            </div>
            <br />
            <div class="row" style="justify-content: center;">
                <label asp-for="RequireLowercase">
                    Require Lowercase
                    <span><input asp-for="RequireLowercase" class="form-control" type="checkbox" /></span>
                </label>
                <span asp-validation-for="RequireLowercase" class="text-danger"></span>
            </div>
            <br />
            <div class="row" style="justify-content: center;">
                <label asp-for="RequireUppercase">
                    Require Uppercase
                    <span><input asp-for="RequireUppercase" class="form-control" type="checkbox" /></span>
                </label>
                <span asp-validation-for="RequireUppercase" class="text-danger"></span>
            </div>
            <br />
            <div class="row" style="justify-content: center;">
                <label asp-for="Require_non_alphanumeric">
                    Require Non Alphanumeric
                    <span><input asp-for="Require_non_alphanumeric" class="form-control" type="checkbox" /></span>
                </label>
                <span asp-validation-for="Require_non_alphanumeric" class="text-danger"></span>
            </div>
            <br />
            <div class="row" style="justify-content: center;">
                <label asp-for="UseDefaultSettings">
                    Use Default Settings
                    <span><input asp-for="UseDefaultSettings" class="form-control" type="checkbox" /></span>
                </label>
                <span asp-validation-for="UseDefaultSettings" class="text-danger"></span>
            </div>
            <br />
            <div class="row form-group" style="justify-content: center;">
                <input type="submit" value="Update" class="btn btn-success col-sm-3 mr-2" />
            </div>
        </form>
    </div>
</div>