@model IraqWebsite.AuthManager.Models.UserManagement

@{
    ViewData["Title"] = "User Management";
    Layout = "~/Views/Shared/Admin/_LayoutAdmin.cshtml";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-12 d-flex justify-content-between">
                <h3>User Managment</h3>
            </div>
        </div>
    </div>
</section>
<div class="card">
    <div class="card-body">
        <form asp-action="UserManagment" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="row" style="justify-content: center;">
                <label asp-for="IsAllowedToRegister">
                    Is Allowed To Register
                    <span><input asp-for="IsAllowedToRegister" class="form-control" type="checkbox" /></span>
                </label>
                <span asp-validation-for="IsAllowedToRegister" class="text-danger"></span>
            </div>
            <br />
            <div class="row" style="justify-content: center;">
                <label asp-for="IsActiveByDeffult">
                    Is Active By Deffult
                    <span><input asp-for="IsActiveByDeffult" class="form-control" type="checkbox" /></span>
                </label>
                <span asp-validation-for="IsActiveByDeffult" class="text-danger"></span>
            </div>
            <br />
            <div class="row" style="justify-content: center;">
                <label asp-for="UseGoogleRecaphaOnLogin">
                    Use Google Recapha OnLogin
                    <span><input asp-for="UseGoogleRecaphaOnLogin" class="form-control" type="checkbox" /></span>
                </label>
                <span asp-validation-for="UseGoogleRecaphaOnLogin" class="text-danger"></span>
            </div>
            <br />
            <div class="row" style="justify-content: center;">
                <label asp-for="UseGoogleRecaphaOnRegister">
                    Use Google Recapha On Register
                    <span><input asp-for="UseGoogleRecaphaOnRegister" class="form-control" type="checkbox" /></span>
                </label>
                <span asp-validation-for="UseGoogleRecaphaOnRegister" class="text-danger"></span>
            </div>
            <br />
            <div class="row form-group" style="justify-content: center;">
                <input type="submit" value="Save" class="btn btn-success col-sm-3 mr-2" />
            </div>
        </form>
    </div>
</div>
