@model IraqWebsite.ViewModels.Managers.EditManager

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/Admin/_LayoutAdmin.cshtml";
}

<link rel="stylesheet" href="~/dist/css/CustemStyle/ImagePerview.css">

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-12 d-flex justify-content-between">
                <h3>Edit Manager</h3>
            </div>
        </div>
    </div>
</section>
<div class="card">
    <div class="card-body">
        <form asp-action="Edit" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="Name" class="control-label">Name</label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="NameAr" class="control-label">Name Arabic</label>
                        <input asp-for="NameAr" class="form-control" />
                        <span asp-validation-for="NameAr" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="Position" class="control-label">Position</label>
                        <textarea rows="3" asp-for="Position" class="form-control"></textarea>
                        <span asp-validation-for="Position" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="PositionAr" class="control-label">Position Arabic</label>
                        <textarea rows="3" asp-for="PositionAr" class="form-control" ></textarea>
                        <span asp-validation-for="PositionAr" class="text-danger"></span>
                    </div>
                </div>
            </div>
           <div class="row">
                <div class="col-md-4">
                    <div class="image-preview image-preview-container">
                    <div class="preview">
                        <div id="preview-selected-images">
                             @if(ViewBag.Image != null)
                            {
                                <img src="@ViewBag.Image" class="preview-image" >
                            }
                        </div>
                    </div>
                    <label asp-for="Image" for="file-upload">Upload Image</label>
                    <input asp-for="Image" class="form-control" type="file" id="file-upload" onchange="previewImages(`image-preview-container`);" />
                    <span asp-validation-for="Image" class="text-danger"></span>
                </div>
                </div>
            </div>
            <br />
            <div class="row form-group" style="justify-content: center;">
                <input type="submit" value="Save" class="btn btn-success col-sm-3 mr-2" />
            </div>
        </form>
    </div>
</div>

<script src="~/dist/js/CustemScript/ImagePreview.js"></script>
