@model ICollection<IraqWebsite.ViewModels.Department.DepartmentDto>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class=" position-relative " style="background: url('/Images/pic.jpg'); height:40vh; background-size: cover;  ">
        <div class="overlay" style="position: absolute; top: 0px; left: 0px; height: 100%; width: 100%; background: rgba(0, 0, 0, .5); "></div>
    <div class="container h-100" style="z-index:4; position:relative">
        <div class="breadcumb-content h-100 d-flex align-items-end pb-5">
            <h1 class="breadcumb-title">@ViewData["Organizational"]</h1>
                <div class="breadcumb-menu-wrap">
                    
                </div>
            </div>
        </div>
    </div>

    <section class="position-relative space">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="title-area text-center  wow fadeInUp" data-wow-delay="0.2s">
                        <span class="sec-subtitle2">@ViewData["Structure"]</span>
                        <h2 class="sec-title4">@ViewData["Organizational"]</h2>
                    </div>
                </div> 
                <div class="col-12">
                    <img src="@ViewBag.StructrueSection" alt="" style="height: auto; width: 100%; object-fit: contain;">
                </div>
            </div>
        </div>
    </section>