@model IraqWebsite.ViewModels.Structure.CreateStructure

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/Admin/_LayoutAdmin.cshtml";
}

<link rel="stylesheet" href="~/dist/css/CustemStyle/ImagePerview.css">
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-12 d-flex justify-content-between">
                <h3>Create New Structure</h3>
            </div>
        </div>
    </div>
</section>
<div class="card card-primary">
    <div class="card-body">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-md-12">
                    <div class="image-preview image-preview-container">
                    <div class="preview">
                        <div id="preview-selected-images"></div>
                    </div>
                    <label asp-for="SectionImage" for="file-upload">Upload Section Image</label>
                    <input asp-for="SectionImage" class="form-control" type="file" id="file-upload" onchange="previewImages(`image-preview-container`);" />
                    <span asp-validation-for="SectionImage" class="text-danger"></span>
                </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="image-preview image-preview-container2">
                    <div class="preview">
                        <div id="preview-selected-images"></div>
                    </div>
                    <label asp-for="StructureImage" for="file-upload2">Upload Structure Image</label>
                    <input asp-for="StructureImage" class="form-control" type="file" id="file-upload2" onchange="previewImages(`image-preview-container2`);" />
                    <span asp-validation-for="StructureImage" class="text-danger"></span>
                </div>
                </div>
            </div>
            <br />
            <div class="row form-group" style="justify-content: center;">
                <input type="submit" value="Create" class="btn btn-success col-sm-3 mr-2" />
            </div>
        </form>
    </div>
</div>

<script src="~/dist/js/CustemScript/ImagePreview.js"></script>
