@model IraqWebsite.ViewModels.AboutUs.EditAboutUsVm

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/Admin/_LayoutAdmin.cshtml";
}

<link rel="stylesheet" href="~/dist/css/CustemStyle/ImagePerview.css">

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-12 d-flex justify-content-between">
                <h3>About Us Section</h3>
            </div>
        </div>
    </div>
</section>
<div class="card">
    <div class="card-body">
        <form asp-action="EditSection" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label asp-for="Title" class="control-label"></label>
                                <input asp-for="Title" class="form-control" />
                                <span asp-validation-for="Title" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label asp-for=" TitleAr" class="control-label"></label>
                                <input asp-for="TitleAr" class="form-control" />
                                <span asp-validation-for="TitleAr" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
             </div>
             <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="SubTitle" class="control-label"></label>
                        <textarea rows="3" asp-for="SubTitle" class="form-control"></textarea>
                        <span asp-validation-for="SubTitle" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="SubTitleAr" class="control-label"></label>
                        <textarea rows="3" asp-for="SubTitleAr" class="form-control" ></textarea>
                        <span asp-validation-for="SubTitleAr" class="text-danger"></span>
                    </div>
                </div>
            </div>
             <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label asp-for="Description" class="control-label"></label>
                                <textarea asp-for="Description" class="form-control" ></textarea>
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label asp-for=" DescriptionAr" class="control-label"></label>
                                <textarea asp-for="DescriptionAr" class="form-control" ></textarea>
                                <span asp-validation-for="DescriptionAr" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
             </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label asp-for="YearsExperience" class="control-label"></label>
                        <input type="number" asp-for="YearsExperience" class="form-control" />
                        <span asp-validation-for="YearsExperience" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                     <table id="example1" class="table table-bordered table-striped text-center">
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>English</th>
                                <th>Arabic</th>
                            </tr>
                        </thead>
                        <tbody>
                                <tr class="text-center">
                                    <td>Feature One Title</td>
                                    <td><input asp-for="FeatureOneTitle" class="form-control" /></td>
                                    <td><input asp-for="FeatureOneTitleAr" class="form-control" /></td>
                                </tr>
                                <tr class="text-center">
                                    <td>Feature Two Title</td>
                                    <td><input asp-for="FeatureTwoTitle" class="form-control" /></td>
                                    <td><input asp-for="FeatureTwoTitleAr" class="form-control" /></td>
                                </tr>
                                <tr class="text-center">
                                    <td>Feature Three Title</td>
                                    <td><input asp-for="FeatureThreeTitle" class="form-control" /></td>
                                    <td><input asp-for="FeatureThreeTitleAr" class="form-control" /></td>
                                </tr>
                                <tr class="text-center">
                                    <td>Feature Four Title</td>
                                    <td><input asp-for="FeatureFourTitle" class="form-control" /></td>
                                    <td><input asp-for="FeatureFourTitleAr" class="form-control" /></td>
                                </tr>
                        </tbody>
        </table>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="image-preview image-preview-container">
                    <div class="preview">
                        <div id="preview-selected-images">
                             @if(ViewBag.ImgOne != null)
                            {
                                <img src="@ViewBag.ImgOne" class="preview-image" >
                            }
                        </div>
                    </div>
                    <label asp-for="ImgOne" for="file-upload">Upload Image One</label>
                    <input asp-for="ImgOne" class="form-control" type="file" id="file-upload" onchange="previewImages(`image-preview-container`);" />
                    <span asp-validation-for="ImgOne" class="text-danger"></span>
                </div>
                </div>
                <div class="col-md-4">
                    <div class="image-preview image-preview-container2">
                    <div class="preview">
                        <div id="preview-selected-images">
                             @if(ViewBag.ImgTwo != null)
                            {
                                <img src="@ViewBag.ImgTwo" class="preview-image" >
                            }
                        </div>
                    </div>
                    <label asp-for="ImgTwo" for="file-upload2">Upload Image Two</label>
                    <input asp-for="ImgTwo" class="form-control" type="file" id="file-upload2" onchange="previewImages(`image-preview-container2`);" />
                    <span asp-validation-for="ImgTwo" class="text-danger"></span>
                </div>
                </div>
                <div class="col-md-4">
                    <div class="image-preview image-preview-container3">
                    <div class="preview">
                        <div id="preview-selected-images">
                             @if(ViewBag.ImgThree != null)
                            {
                                <img src="@ViewBag.ImgThree" class="preview-image" >
                            }
                        </div>
                    </div>
                    <label asp-for="ImgThree" for="file-upload3">Upload Image Three</label>
                    <input asp-for="ImgThree" class="form-control" type="file" id="file-upload3" onchange="previewImages(`image-preview-container3`);" />
                    <span asp-validation-for="ImgThree" class="text-danger"></span>
                </div>
                </div>
            </div>

            <br />
            @*<div class="row" style="justify-content: center;">
                
                <input asp-for="IsActive" hidden class="form-control" type="checkbox" />
                <span asp-validation-for="IsActive" class="text-danger"></span>
            </div>*@
            <br />
            <div class="row form-group" style="justify-content: center;">
                <input type="submit" value="Save" class="btn btn-success col-sm-3 mr-2" />
            </div>
        </form>
    </div>
</div>

<script src="~/dist/js/CustemScript/ImagePreview.js"></script>
