@model IEnumerable<IraqWebsite.ViewModels.Client.ClitentDto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Admin/_LayoutAdmin.cshtml";
}

@*@if (User.HasClaim("Permission", "Client Create"))*@
@*{*@
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-12 d-flex justify-content-between">
                    <h3>Clients</h3>
                    <a type="button" class="btn btn-primary" asp-action="Create">Create New <i class="fa fa-plus"></i></a>
                </div>
            </div>
        </div>
    </section>
@*}*@

<div class="card">
    <!-- /.card-header -->
    <div class="card-body">
        <table class="table table-bordered table-striped text-center">
            <thead>
                <tr>
                    <th>Image</th>
                    <th>Link</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="text-center">
                        <td><img width="75" height="75" src="@item.Img" /></td>
                        <td>@item.Link</td>
                        <td>
                            <div class="d-flex justify-content-center">
                                @if (User.HasClaim("Permission", "Partner Edit"))
                                {
                                    <a asp-action="Edit" asp-route-Id="@item.Id" class="btn btn-primary mx-2"><i class="fas fa-edit"></i></a>
                                }
                                @if (User.HasClaim("Permission", "Partner Delete"))
                                {
                                    <a onclick="DeleteItem('@item.Id')" class="btn btn-danger"><i class="fas fa-trash"></i></a>
                                }
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<script>
    function DeleteItem(id) {
        let button = event.currentTarget
        Swal.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
            if (result.isConfirmed) {
                axios.post(`ClientAdmin/DeleteConfirmed/${id}`).then((response) => {
                    button.parentNode.parentNode.parentNode.remove()
                    Swal.fire('Success', 'The Client Deleted Successfully', 'success')
                })
            }
        })
    }
</script>