@model IraqWebsite.AuthManager.ViewModels.PermissionViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/Admin/_LayoutAdmin.cshtml";
}

<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">Create New Role</h3>
    </div>
    <div class="card-body">
        <form asp-action="Create" method="post">
            <div id="error-role"></div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="RoleName">Role Title</label>
                        <input asp-for="RoleName" type="text" required class="form-control" placeholder="Enter Role Title" id="role-title" />
                    </div>
                </div>
            </div>
            <div class="row">
                @foreach (var (claim, count) in Model.RoleClaims.Select((value, i) => (value, i)))
                {
                    <div class="col-md-3">
                        <div class="form-check">
                            <label class="form-check-label">
                                <input asp-for="RoleClaims[count].Selected" class="form-check-input" type="checkbox" />
                                <label style="margin-bottom:10px">@claim.Value</label>
                                <input type="hidden" asp-for="RoleClaims[count].Type" />
                                <input type="hidden" asp-for="RoleClaims[count].Value" />
                            </label>
                        </div>
                    </div>
                }
            </div>
            <div class="row form-group" style="justify-content: center;">
                <input type="submit" value="Create" class="btn btn-success col-sm-3 mr-2" />
                <a class="btn btn-danger col-sm-3" asp-action="Index">Cancel</a>
            </div>
        </form>
    </div>
</div>