@model List<Microsoft.AspNetCore.Identity.IdentityRole>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Admin/_LayoutAdmin.cshtml";
}
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-12 d-flex justify-content-between">
                <h3>Roles</h3>
                <a type="button" class="btn btn-primary" asp-action="Create">Create New</a>
            </div>
        </div>
    </div>
</section>
<div class="card">
    <!-- /.card-header -->
    <div class="card-body">
        <table id="example1" class="table table-bordered table-striped text-center">
            <thead>
                <tr>
                    <th>Title</th>
                    @if (User.HasClaim("Permission", "Role Edit") || User.HasClaim("Permission", "Role Delete"))
                    {
                        <th>Action</th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var role in Model)
                {
                    if (role.Name != "SuperAdmin")
                    {
                        <tr class="text-center">
                            <td>@role.Name</td>
                            <td>
                                <div class="d-flex justify-content-center">
                                    @if (User.HasClaim("Permission", "Role Edit"))
                                    {
                                        <a asp-action="Edit" asp-route-Name="@role.Name" class="btn btn-primary mx-2"><i class="fas fa-edit"></i></a>
                                    }
                                    @if (User.HasClaim("Permission", "Role Delete"))
                                    {
                                        <a asp-action="Delete" asp-route-Name="@role.Name" class="btn btn-danger"><i class="fas fa-trash"></i></a>
                                    }
                                </div>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>