@model IraqWebsite.ViewModels.Projects.CreateProjectCategory

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/Admin/_LayoutAdmin.cshtml";
}

<link rel="stylesheet" href="~/dist/css/CustemStyle/ImagePerview.css">
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-12 d-flex justify-content-between">
                <h3>Create Project Category</h3>
            </div>
        </div>
    </div>
</section>
<div class="card card-primary">
    <div class="card-body">
        <form asp-action="CreateCategory" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label asp-for="Title" class="control-label"></label>
                                <input asp-for="Title" class="form-control" />
                                <span asp-validation-for="Title" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label asp-for=" TitleAr" class="control-label"></label>
                                <input asp-for="TitleAr" class="form-control" />
                                <span asp-validation-for="TitleAr" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
             </div>
            <div class="row form-group" style="justify-content: center;">
                <input type="submit" value="Create" class="btn btn-success col-sm-3 mr-2" />
                <a class="btn btn-danger col-sm-3" asp-action="Index">Cancel</a>
            </div>
        </form>
    </div>
</div>

<script src="~/dist/js/CustemScript/ImagePreview.js"></script>
<script src="https://cdn.jsdelivr.net/npm/choices.js/public/assets/scripts/choices.min.js"></script>
