@model IEnumerable<IraqWebsite.Models.Subscribers>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Admin/_LayoutAdmin.cshtml";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-12 d-flex justify-content-between">
                <h3>Subscribers</h3>
            </div>
        </div>
    </div>
</section>
<div class="card">
    <!-- /.card-header -->
    <div class="card-body">
        <table id="example1" class="table table-bordered table-striped text-center">
            <thead>
                <tr>
                    <th>Email</th>
                    <th>Joined Date</th>

                    @if (User.HasClaim("Permission", "Subscribers Delete"))
                    {
                        <th>Action</th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="text-center">
                        <td>@item.Email</td>
                        <td>@item.JoinedDate</td>
                        <td>
                            <div class="d-flex justify-content-center">
                                @if (User.HasClaim("Permission", "Subscribers Delete"))
                                {
                                    <a asp-action="Delete" asp-route-Id="@item.Id" class="btn btn-danger"><i class="fas fa-trash"></i></a>
                                }
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>