@model IraqWebsite.ViewModels.Statiscs.CreateStatisc

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/Admin/_LayoutAdmin.cshtml";
}

<link rel="stylesheet" href="~/dist/css/CustemStyle/ImagePerview.css">
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-12 d-flex justify-content-between">
                <h3>Create Statisc</h3>
            </div>
        </div>
    </div>
</section>
<div class="card card-primary">
    <div class="card-body">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label asp-for="StatiscOneTitle" class="control-label"></label>
                                <input asp-for="StatiscOneTitle" class="form-control" />
                                <span asp-validation-for="StatiscOneTitle" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label asp-for=" StatiscOneTitleAr" class="control-label"> Statisc One Title Arabic</label>
                                <input asp-for="StatiscOneTitleAr" class="form-control" />
                                <span asp-validation-for="StatiscOneTitleAr" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label asp-for="StatiscOneNumber" class="control-label"> Statisc One Number</label>
                                <input asp-for="StatiscOneNumber" class="form-control" />
                                <span asp-validation-for="StatiscOneNumber" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
             </div>
             <div class="row">
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label asp-for="StatiscTwoTitle" class="control-label"></label>
                                <input asp-for="StatiscTwoTitle" class="form-control" />
                                <span asp-validation-for="StatiscTwoTitle" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label asp-for=" StatiscTwoTitleAr" class="control-label"> Statisc Two Title Arabic</label>
                                <input asp-for="StatiscTwoTitleAr" class="form-control" />
                                <span asp-validation-for="StatiscTwoTitleAr" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label asp-for="StatiscTwoNumber" class="control-label"> Statisc Two Number</label>
                                <input asp-for="StatiscTwoNumber" class="form-control" />
                                <span asp-validation-for="StatiscTwoNumber" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
             </div>
             <div class="row">
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label asp-for="StatiscThreeTitle" class="control-label"></label>
                                <input asp-for="StatiscThreeTitle" class="form-control" />
                                <span asp-validation-for="StatiscThreeTitle" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label asp-for=" StatiscThreeTitleAr" class="control-label"> Statisc Three Title Arabic</label>
                                <input asp-for="StatiscThreeTitleAr" class="form-control" />
                                <span asp-validation-for="StatiscThreeTitleAr" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label asp-for="StatiscThreeNumber" class="control-label"> Statisc Three Number</label>
                                <input asp-for="StatiscThreeNumber" class="form-control" />
                                <span asp-validation-for="StatiscThreeNumber" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
             </div>
                <div class="row">
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label asp-for="StatiscFourTitle" class="control-label"></label>
                                <input asp-for="StatiscFourTitle" class="form-control" />
                                <span asp-validation-for="StatiscFourTitle" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label asp-for=" StatiscFourTitleAr" class="control-label"> Statisc Four Title Arabic</label>
                                <input asp-for="StatiscFourTitleAr" class="form-control" />
                                <span asp-validation-for="StatiscFourTitleAr" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label asp-for="StatiscFourNumber" class="control-label"> Statisc Four Number</label>
                                <input asp-for="StatiscFourNumber" class="form-control" />
                                <span asp-validation-for="StatiscFourNumber" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
             </div>
              <div class="row">
                <div class="col-md-12">
                    <div class="image-preview image-preview-container">
                    <div class="preview">
                        <div id="preview-selected-images"></div>
                    </div>
                    <label asp-for="Image" for="file-upload">Upload Section Image</label>
                    <input asp-for="Image" class="form-control" type="file" id="file-upload" onchange="previewImages(`image-preview-container`);" />
                    <span asp-validation-for="Image" class="text-danger"></span>
                </div>
                </div>
                <div class="col-md-3">
                    <div class="image-preview image-preview-container2">
                    <div class="preview">
                        <div id="preview-selected-images"></div>
                    </div>
                    <label asp-for="StatiscOneIcon" for="file-upload2">Upload Statisc One Icon</label>
                    <input asp-for="StatiscOneIcon" class="form-control" type="file" id="file-upload2" onchange="previewImages(`image-preview-container2`);" />
                    <span asp-validation-for="StatiscOneIcon" class="text-danger"></span>
                </div>
                </div>
                <div class="col-md-3">
                    <div class="image-preview image-preview-container3">
                    <div class="preview">
                        <div id="preview-selected-images"></div>
                    </div>
                    <label asp-for="StatiscTwoIcon" for="file-upload3">Upload Statisc Two Icon</label>
                    <input asp-for="StatiscTwoIcon" class="form-control" type="file" id="file-upload3" onchange="previewImages(`image-preview-container3`);" />
                    <span asp-validation-for="StatiscTwoIcon" class="text-danger"></span>
                </div>
                </div>
                <div class="col-md-3">
                    <div class="image-preview image-preview-container4">
                    <div class="preview">
                        <div id="preview-selected-images"></div>
                    </div>
                    <label asp-for="StatiscThreeIcon" for="file-upload4">Upload Statisc Three Icon</label>
                    <input asp-for="StatiscThreeIcon" class="form-control" type="file" id="file-upload4" onchange="previewImages(`image-preview-container4`);" />
                    <span asp-validation-for="StatiscThreeIcon" class="text-danger"></span>
                </div>
                </div>
                <div class="col-md-3">
                    <div class="image-preview image-preview-container5">
                    <div class="preview">
                        <div id="preview-selected-images"></div>
                    </div>
                    <label asp-for="StatiscFourIcon" for="file-upload5">Upload Statisc Four Icon</label>
                    <input asp-for="StatiscFourIcon" class="form-control" type="file" id="file-upload5" onchange="previewImages(`image-preview-container5`);" />
                    <span asp-validation-for="StatiscFourIcon" class="text-danger"></span>
                </div>
                </div>
            </div>

            <br />
            <div class="row form-group" style="justify-content: center;">
                <input type="submit" value="Create" class="btn btn-success col-sm-3 mr-2" />
                <a class="btn btn-danger col-sm-3" asp-action="Index">Cancel</a>
            </div>
        </form>
    </div>
</div>

<script src="~/dist/js/CustemScript/ImagePreview.js"></script>
<script src="https://cdn.jsdelivr.net/npm/choices.js/public/assets/scripts/choices.min.js"></script>
