@model IraqWebsite.Models.MetaKeyWord

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/Admin/_LayoutAdmin.cshtml";
}


<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-12 d-flex justify-content-between">
                <h3>Meta KeyWord</h3>
            </div>
        </div>
    </div>
</section>
<div class="card card-primary">
    <div class="card-body">
        <form asp-action="Edit" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label asp-for="Key" class="control-label"></label>
                        <textarea rows="7" asp-for="Key" class="form-control" ></textarea>
                        <span asp-validation-for="Key" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <br />
            <div class="row form-group" style="justify-content: center;">
                <input type="submit" value="Save" class="btn btn-success col-sm-3 mr-2" />
            </div>
        </form>
    </div>
</div>
