@model IraqWebsite.Models.GoogleRecaptcha

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/Admin/_LayoutAdmin.cshtml";
}
 
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-12 d-flex justify-content-between">
                <h3>Google Recaptcha</h3>
            </div>
        </div>
    </div>
</section>
<div class="card">
    <div class="card-body">
        <form asp-action="Edit" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="SiteKey" class="control-label">Site Key</label>
                <input asp-for="SiteKey" class="form-control" />
                <span asp-validation-for="SiteKey" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SecretKey" class="control-label">Secret Key</label>
                <input asp-for="SecretKey" class="form-control" />
                <span asp-validation-for="SecretKey" class="text-danger"></span>
            </div>
             <div class="row" style="justify-content: center;">
                <label asp-for="IsActive">
                    Is Active
                    <span><input asp-for="IsActive" class="form-control" type="checkbox" /></span>
                </label>
                <span asp-validation-for="IsActive" class="text-danger"></span>
            </div>
            <div class="row form-group" style="justify-content: center;">
                <input type="submit" value="Save" class="btn btn-success col-sm-3 mr-2" />
            </div>
        </form>
    </div>
</div>